* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #121212;
  color: #e0e0e0;
}

header {
  background: #161616;
  color: #e0e0e0;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #e0e0e0;
  text-decoration: none;
}

nav ul li a:hover {
  color: #bb86fc;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px;
  background: #1f1f1f;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #e0e0e0;
}

section a {
  display: inline-block;
  padding: 10px 15px;
  color: #bb86fc;
  text-decoration: none;
  border: 2px solid #bb86fc;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

section a:hover {
  background: #bb86fc;
  color: white;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #161616;
  color: #e0e0e0;
  position: relative;
  bottom: 0;
  width: 100%;
}
